<div class="ui cards four wide">
  {{#each orders as |o|}}
    <div class="ui card ">
      <div class="content">
        <div class="header">{{o.ship_name}}</div>
      </div>
      <div class="content">
        <div class="">Order #: {{o.order_number}}</div>
      </div>
      <div class="content">
        <p class="">{{o.city}}, {{o.state}} {{o.postal_code}} {{o.country}}</p>
      </div>
      <button class="ui button edit" data-id="{{o.id}}" {{action 'edit' o}}>Edit</button>
    </div>
    {{#each o.clients_order_items.content.canonicalState as |r|}}
      {{log r.record.quantity}}
    {{/each}}
  {{/each}}
</div>

<div class="ui modal large" id="orderinfo">
  <a href="" {{action 'closeModal'}}><i class="fa fa-times"></i></a>
  <div class="header">
    Order Info
  </div>
  <form class="ui form" action="" method="post" id="orderform">
    <div class="fields">
      <div class="field">
        <label>Order Number</label>
        <input type="text" id="order_number">
      </div>
      <div class="field">
        <label>Name</label>
        <input type="text" id="ship_name">
      </div>
    </div>

    <div class="fields">
      <div class="field">
        <label>Address 1</label>
        <input type="text" id="address1">
      </div>
      <div class="field">
        <label>Address 2</label>
        <input type="text" id="address2">
      </div>
      <!-- leave this here for now -->
      <input type="hidden" id="orderId">

    </div>

    <div class="fields">
      <div class="field">
        <label>City</label>
        <input type="text" id="city">
      </div>
      <div class="field">
        <label>State</label>
        <input type="text" id="state">
      </div>
      <div class="field">
        <label>Postal Code</label>
        <input type="text" id="postal_code">
      </div>
    </div>

    <div id="items">
    </div>

    <input type="submit" name="name" value="Submit" class="ui button" id="ordersubmit" {{action 'submitOrder'}}>
  </form>
</div>
